@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 968px) {
    #login{
        width: 80vw;
    }
    #login > #img{
        float: left;
        width: 40%;
        height: 100%;
    }

    #login > #form{
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 968px) {
    #login{
        width: 950px;
    }
    #login > #img{
        float: right;
        width: 50%;
        height: 100%;
    }
    #login > #form{
        float: left;
        width: 50%;
    }
    #form > h1{
        font-size: 2em;
    }
    #form > p{
        text-align: justify;
        margin: 10px;
        font-size: 1.3em;
    }
}